.jumbotron{
	text-align: center;
	background-color: none;
}

.sectionLight{
	background-color: #eceeef;
	padding: 2em;
}

.sectionDark{
	background-color: #cccccc;
	padding: 2rem;
}

.coolStuffWarpper{
	margin-top:20px;
}

button.coolStuffBtn{
	background-color: red;
	color:#ffffff;
	display:block;
	margin:auto;
}

h5.modal-title{
	margin: auto;
}

.modalFormWrapper{
	padding: 2rem;
}


.imgCenter{
	display: block;
	margin: auto;
}


.btnCenter{
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 54%;

}

.footer{
	padding: 10px;
}

.fa {
	margin: 10px;
}
 
 .fa-facebook-square{
 	color:#F8F8FF ;
 }

.fa-google-plus-square{
	color:#FFFAF0;
}

.fa-instagram{
	color:#F8F8FF;
}

.socialWarpper{
	margin: auto;
}